.p0{
margin-left:70px;
}

.p1{
margin-left:15px;
}

.p2{
margin-left:40px;
}

.p3{
margin-left:50px;
}

.p4{
margin-left:20px;
}

ion-button{
margin-left:90px;

}


ion-content{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-item{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-card {
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-label{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-title{
  font-family: "Lucida Console", "Courier New", monospace;
}

ion-button{
  font-family: "Lucida Console", "Courier New", monospace;
}